@{
  Layout = "_Layout";
}
@using PierresTreats.ViewModels
@model LoginViewModel
<div class="container">
  <br>
  <div class="col-md-12">
    <div class="row" <div class="card-header">
      <center>
        <h1>Create Account</h1>
      </center>
    </div>
    <br>
      @using (Html.BeginForm("Register", "Account", FormMethod.Post))
      {
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.LabelFor(user => user.ConfirmPassword)
        @Html.PasswordFor(user => user.ConfirmPassword)
      <input type="submit" value="Register" id="button" type="button" class="btn btn-success" />
      }
